*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body{
    height: 100%;
    background-color:cornflowerblue;
  }
  main{
    height: 100%;
  }

h1{
 text-align: center;
}
.buscador{
    height: 40px;
    width: 450px;
    margin-top: 80px;
    border-radius: 15px;
    border: none;
    font-family:sans-serif;
    font-size: 18px;
}
.boton{
height: 40px;
width: 60px;
border-radius: 15px;
border: none;
font-size:18px;
color: dimgrey;
}